<ion-content [fullscreen]="true">
    <section class="top-section" [ngStyle]="{'background-image': 'url(' + bolicheYendo.backgroundUrl + ')'}">
        <div class="parent">
            <div class="div1">
                <ion-buttons slot="start">
                    <ion-back-button text="" defaultHref={{previusUrl}} style="margin: 1em; z-index: 100;"></ion-back-button>
                    <app-header-component style="transform:translateX(-1.5em);"></app-header-component>
                </ion-buttons>
            </div>
            <div class="div2">
                <div class="title">
                    <ion-item lines="none" style="background-color: transparent !important;">
                        <span class="text">{{bolicheYendo.title}}</span>
                        <ion-icon class="icon" name="ellipse" [ngStyle]="{'color': bolicheYendo.ballColor }"></ion-icon>
                    </ion-item>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom-section">
        <h2><b>{{bolicheYendo.fecha}}</b> - {{bolicheYendo.time}}:00hs
            <!-- <ion-icon name="sunny-outline" *ngIf="bolicheYendo.time < 21"></ion-icon>
            <ion-icon name="moon-outline" *ngIf="bolicheYendo.time >= 21"></ion-icon> -->
        </h2>
        <ion-item lines="none">
            <!--Acá iria el (click) que nos lleve a la página del boliche-->
            <ion-avatar slot="start">
                <img [src]="bolicheYendo.boliche.picture" style="object-fit: contain;" />
            </ion-avatar>
            <ion-label>
                <h2>{{bolicheYendo.boliche.nombre}}</h2>
                <h3>{{bolicheYendo.boliche.direccion}}</h3>
                <!-- <p>Listen, I've had a pretty messed up day...</p> -->
            </ion-label>
        </ion-item>
        <h3 class="descripcion">
            {{bolicheYendo.descripcion}}
        </h3>
        <div class="reserva_button">
            <ion-button *ngIf="reservadoView" color="danger" expand="block" (click)="cancelar()">
                Cancelar
            </ion-button>
            <ion-button *ngIf="!reservado && !reservadoView" expand="block" (click)="reservar()">
                Reservar
            </ion-button>
            <div *ngIf="reservado || reservadoView" style="display: flex; align-items: center; justify-content: center;">
                Reservado el {{fecha | date:'dd/MM/yyyy'}}.
            </div>
        </div>
    </section>

    <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>