<ion-header [translucent]="true">
    <ion-toolbar>
        <app-header-component></app-header-component>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Perfil</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-avatar [user]="user" style="margin: 2em;"></app-avatar>

    <div class="reservas-activas" style="margin-top: 1em;">
      <div class="reservas-activas-card">
        <h1>Reservas Activas</h1>
      </div>
    </div>

    <div class="boton-editar">
      <ion-button (click)="editarPerfil()">
        Editar
      </ion-button>
    </div>

</ion-content>
