<ion-header [translucent]="true">
    <ion-toolbar>
        <app-header-component></app-header-component>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Perfil</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-avatar [user]="userDB" style="margin: 2em;"></app-avatar>

    <div class="reservas-activas" style="margin-top: 1em;" (click)="navigateReservasActivas()">
        <div class="reservas-activas-card">
            <h1>Reservas Activas</h1>
        </div>
    </div>

    <div style="display: flex; justify-content: space-around; margin-bottom: 5em;">
      <div class="boton-editar">
          <ion-button (click)="editarPerfil()">
              Editar
          </ion-button>
      </div>

      <div class="boton-editar">
        <ion-button (click)="cerrarSesion()" class="cerrar-sesion-buton">
            Cerrar sesion
        </ion-button>
      </div>
    </div>

</ion-content>
