ion-content {
  overflow-y: hidden;
}

ion-item {
margin-top: 1%;
--background: transparent !important;
}

.boton-editar {
margin: 8% 0;
display: flex;
justify-content: center;
}

ion-input {
  font-size: 1.5em;
  border: 1px solid #ccc;
  text-indent: .5em;
  border-radius: 1em;
  :invalid{
    border: red;
    color: red;
  }
}

ion-label {
text-indent: 1em;
color: #ccc;
}
ion-button {
  --background: yellow;
  --color: black;
  font-size: 1em;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

ion-select{
  font-size: 1.5em;
  border: 1px solid #ccc;
  text-indent: .5em;
  border-radius: 1em;
  height: 2em;
}

.login_button {
  width: 80%;
  margin-top: 1em;
  a {
      display: flex;
      justify-content: center;
      margin-top: 10%;
  }
}
