<ion-header [translucent]="true">
    <ion-toolbar>
        <app-header-component></app-header-component>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Buscar</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-searchbar showCancelButton="focus" cancelButtonText="Cancelar" (ionFocus)="buscar = true"(ionCancel)="buscar = false" (ionChange)="buscarHandler($event)" (ionClear)="boliches = cards"></ion-searchbar>
    <ion-list style="width: 95%;" *ngIf="buscar">
        <ion-item *ngFor="let boliche of boliches">
            <div (click)="navigate(boliche)">{{boliche.title}}</div>
        </ion-item>
    </ion-list>
    <section *ngIf="!buscar">
      <div class="container" style="margin-top: .2em;">
        <div style="margin: .2em;" class="viernes">Viernes</div>
        <div style="margin: .2em;" class="sabados">Sabado</div>
        <div style="padding: .2em;" class="logo1"><img src="https://media-cdn.tripadvisor.com/media/photo-s/21/a6/d4/be/our-logo.jpg"
          alt=""></div>
        <div style="padding: .2em;" class="logo2"><img src="https://www.roket.com/assets/img/logo-big.png" alt=""></div>
        <div style="padding: .2em;" class="logo3"><img src="../../assets/common/logo.jpeg" alt=""></div>
        <div style="padding: .2em;" class="logo4"><img src="https://www.genux.com.ar/assets/img/logo-big.png" alt=""></div>
      </div>
      <div class="todosLosBoliches" (click)="navigateTodosLosBoliches()">
        Todos los boliches
      </div>
      <div class="dentroRos">
        Dentro de Rosario
      </div>
      <div class="alredeRos">
        Alrededores
      </div>
      <br>
      <br>
      <br>
      <br>
    </section>

</ion-content>
