<ion-header [translucent]="true">
    <ion-toolbar>
        <app-header-component></app-header-component>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Novedades</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="card-list">
        <!-- BOLICHE OK -->
        <div class="app-card">
            <app-card (click)="navigate(bolicheYendo)" [title]="bolicheYendo.title" [descripcion]="bolicheYendo.descripcion" [backgroundUrl]="bolicheYendo.backgroundUrl" [ballColor]="bolicheYendo.ballColor"></app-card>
        </div>
        <!-- BOLICHES PLACEHOLDER -->
        <div *ngFor="let card of cards" class="app-card">
            <app-card (click)="presentAlert()" [title]="card.title" [descripcion]="card.descripcion" [backgroundUrl]="card.backgroundUrl" [ballColor]="card.ballColor"></app-card>
        </div>
    </div>

    <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>