.logo {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

.card-list {
  width: 95%;
  margin: auto;
  margin-bottom: 5em;
}

.app-card {
  margin-bottom: 1em;
}
