<ion-header [translucent]="true">
    <ion-toolbar>
        <app-header-component></app-header-component>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
        <ion-title size="large">Ofertas</ion-title>
    </ion-toolbar>
</ion-header>
<section>
  <h2 style="margin-left: .7em;">Las mejores pintas!</h2>
  <div class="scrolling-wrapper">
    <div *ngFor="let card of cardsImp" class="app-card">
        <app-card (click)="navigate(card)" [title]="card.title" [descripcion]="card.descripcion" [backgroundUrl]="card.backgroundUrl" [ballColor]="card.ballColor"></app-card>
    </div>
</div>
</section>
<section style="margin-bottom: 5em;">
  <h2 style="margin-left: .7em;">Happy Hour hoy</h2>
  <div class="scrolling-wrapper">
    <div *ngFor="let card of cardsInv" class="app-card">
        <app-card (click)="navigate(card)" [title]="card.title" [descripcion]="card.descripcion" [backgroundUrl]="card.backgroundUrl" [ballColor]="card.ballColor"></app-card>
    </div>
</div>
</section>
</ion-content>
