<ion-content [fullscreen]="true">

    <section>
        <div class="parent">
            <ion-buttons slot="start">
                <ion-back-button text="" defaultHref={{previusUrl}} style="margin: 1em; z-index: 100;"></ion-back-button>
                <app-header-component style="transform:translateX(-1.5em);"></app-header-component>
            </ion-buttons>
        </div>
    </section>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Boliches</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item *ngFor="let bolicheYendo of cards" (click)="navigate(bolicheYendo)">
            <ion-avatar slot="start">
                <img [src]="bolicheYendo.boliche.picture" style="object-fit: contain;" />
            </ion-avatar>
            <ion-label>
                <h2>{{bolicheYendo.boliche.nombre}}</h2>
                <h3>{{bolicheYendo.boliche.direccion}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>