ion-content {
    overflow-y: hidden;
}

.header_logo {
    content: '';
    height: 70vh;
    background-color: #FEFEFE;
    background-image: url('../../../assets/splash/happy-freelancer-with-computer-home-young-man-sitting-armchair-using-laptop-chatting-online-smiling-vector-illustration-distance-work-online-learning-freelance_74855-8401.webp');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 110%;
    border-radius: 0 0 2em 2em;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}

.login_button {
    width: 80%;
    margin-top: 5em;
    a {
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }
}