<!-- <ion-header>
    <ion-toolbar>
        <ion-title>BIENVENIDO</ion-title>
    </ion-toolbar>
  </ion-header>-->

<ion-content>
    <div class="header_logo">
        <img src="../../../assets/common/logo.png" width="45%" alt="">
    </div>

    <section>
        <div class="login_button">
          <section style="display: block;">
            <form [formGroup]="signUpForm">
              <ion-item lines="none">
                  <ion-label position="stacked">Email o Usuario</ion-label>
                  <ion-input placeholder="ejemplo@email.com" formControlName="email" type="email"></ion-input>
              </ion-item>
              <ion-item lines="none">
                  <ion-label position="stacked">Contraseña</ion-label>
                  <ion-input placeholder="******" formControlName="contrasena" type="password"></ion-input>
                  <small style="align-self: flex-end;"><a href="">Olvidé mi contraseña</a></small>
              </ion-item>
            </form>

            <div class="boton-editar">
                <ion-button (click)="iniciarSesion()">
                    Iniciar Sesión
                </ion-button>
            </div>

        </section>
            <a (click)="navigateSignUp()"> Crear una cuenta </a>
        </div>
    </section>

</ion-content>
