<ion-content [fullscreen]="true">

  <section>
      <div class="parent">
          <ion-buttons slot="start">
              <ion-back-button text="" defaultHref='/' style="margin: 1em; z-index: 100;"></ion-back-button>
              <app-header-component style="transform:translateX(-1.5em);"></app-header-component>
          </ion-buttons>
      </div>
  </section>

  <ion-header collapse="condense">
      <ion-toolbar>
          <ion-title size="large">Iniciar sesión</ion-title>
      </ion-toolbar>
  </ion-header>

</ion-content>
