<ion-content>

    <div class="parent">
        <div class="div1">
            <ion-buttons slot="start">
                <ion-back-button text="" defaultHref={{previusUrl}} style="margin: 1em; z-index: 100;"></ion-back-button>
                <app-header-component style="transform:translateX(-1.5em);"></app-header-component>
            </ion-buttons>
        </div>
    </div>

    <div class="card-list" *ngIf="cards.length > 0">
        <!-- BOLICHE OK -->
        <div *ngFor="let card of cards" class="app-card">
            <app-card (click)="navigate(card)" [title]="card.title" [descripcion]="card.descripcion" [backgroundUrl]="card.backgroundUrl" [ballColor]="'transparent'"></app-card>
        </div>
    </div>
    <div *ngIf="cards.length===0" style="height: 80vh; display: flex; align-items: center; justify-content: center;">
        No hay reservas activas.
    </div>

</ion-content>
